table.result{
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
  width: 60%;
  align: center;
}

th{
  border: 1px solid black;
}

th.number{
  width: 7%;
  border: 1px solid black;
}

th.left{
  text-align: right;
  width: 50%;
}

th.right{
  width: 50%;
}

td.left{
  text-align: right;
  width: 50%;
}

td.center{
  text-align: center;
}

td.number{
  border: 1px solid black;
  text-align: center;
}

td.data{
  border: 1px solid black;
  text-align: center;
}
